<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db
!pip install ipython-sql

Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\benva\anaconda3\lib\site-packages (1.3.9)

WARNING: You are using pip version 21.3.1; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\benva\anaconda3\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: ibm_db in c:\users\benva\anaconda3\lib\site-packages (3.1.1)

WARNING: You are using pip version 21.3.1; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\benva\anaconda3\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: ipython-sql in c:\users\benva\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\benva\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\benva\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in c:\users\benva\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in c:\users\benva\anaconda3\lib\site-packages (from ipython-sql) (8.1.1)
Requirement already satisfied: prettytable<1 in c:\users\benva\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\benva\anaconda3\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\benva\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: jedi>=0.16 in c:\users\benva\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: matplotlib-inline in c:\users\benva\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: traitlets>=5 in c:\users\benva\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\benva\appdata\roaming\python\python38\site-packages (from ipython>=1.0->ipython-sql) (0.4.3)
Requirement already satisfied: pickleshare in c:\users\benva\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\benva\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: decorator in c:\users\benva\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in c:\users\benva\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: stack-data in c:\users\benva\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\benva\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\benva\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\benva\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: executing in c:\users\benva\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\benva\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\benva\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)

WARNING: You are using pip version 21.3.1; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\benva\anaconda3\python.exe -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import numpy as np
import sqlite3

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
%load_ext sql

In [4]:
con = sqlite3.connect("spacex_df.db")
cur = con.cursor()

%sql sqlite:///spacex_df.db

spacex = pd.read_csv("../Data/spacex_sql_data.csv")

spacex.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [5]:
%%sql
select * from SPACEXTBL limit 5;

 * sqlite:///spacex_df.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [6]:
%%sql
select distinct launch_site from SPACEXTBL;

 * sqlite:///spacex_df.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [7]:
%%sql
select launch_site from SPACEXTBL where launch_site like '%CCA%' limit 5;

 * sqlite:///spacex_df.db
Done.

[('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',)]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [8]:
%%sql
select SUM(payload_mass__kg_) from SPACEXTBL where customer='NASA (CRS)';

 * sqlite:///spacex_df.db
Done.

[(45596,)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [9]:
%%sql
select avg(payload_mass__kg_) from SPACEXTBL where booster_version like '%F9 v1.1%';

 * sqlite:///spacex_df.db
Done.

[(2534.6666666666665,)]

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [10]:
%%sql
select min(date) from SPACEXTBL where landing__outcome like '%Success%';

 * sqlite:///spacex_df.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [11]:
%%sql
select booster_version from SPACEXTBL where landing__outcome='Success (drone ship)'
and (payload_mass__kg_ between 4000 and 6000);

 * sqlite:///spacex_df.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [12]:
%%sql
select mission_outcome,count(*) as "success rate" from SPACEXTBL group by mission_outcome;

 * sqlite:///spacex_df.db
Done.

[('Failure (in flight)', 1),
 ('Success', 99),
 ('Success (payload status unclear)', 1)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [13]:
%%sql
select booster_version, (select max(payload_mass__kg_) from SPACEXTBL) from SPACEXTBL order by payload_mass__kg_ desc;

 * sqlite:///spacex_df.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2', 15600),
 ('F9 B5 B1058.3', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7', 15600),
 ('F9 B5 B1049.6', 15600),
 ('F9 B5 B1059.3', 15600),
 ('F9 B5 B1051.5', 15600),
 ('F9 B5 B1049.3', 15600),
 ('F9 B5B1058.1', 15600),
 ('F9 B5B1061.1', 15600),
 ('F9 B5B1051.1', 15600),
 ('F9 B5 B1046.4', 15600),
 ('F9 FT B1029.1', 15600),
 ('F9 FT B1036.1', 15600),
 ('F9 B4 B1041.1', 15600),
 ('F9 FT  B1036.2', 15600),
 ('F9 B4  B1041.2', 15600),
 ('F9 B5B1048.1', 15600),
 ('F9 B5 B1049.2', 15600),
 ('F9 B5B1047.1', 15600),
 ('F9 B5B1049.1', 15600),
 ('F9 B5 B1056.3', 15600),
 ('F9 FT B1037', 15600),
 ('F9 B5 B1047.3', 15600),
 ('F9 B4  B1043.2', 15600),
 ('F9 B4 B1044', 15600),
 ('F9 FT B1034', 15600),
 ('F9 B5 B1046.2', 15600),
 ('F9 FT B1030', 15600),
 ('F9 B5 B1058.2', 15600),
 ('F9 B4  B1040.2', 15600),
 ('F9 FT  B1021.2', 15600),
 ('F9 FT B1032.1', 15600),
 ('F9 B5 B1047.2', 15600),
 ('F9 FT B1020', 15600),
 ('F9 FT  B1031.2', 15600),
 ('F9 B4 B1043.1', 15600),
 ('F9 B4 B1040.1', 15600),
 ('F9 B5 B1048.3', 15600),
 ('F9 v1.1 B1016', 15600),
 ('F9 FT B1022', 15600),
 ('F9 FT B1026', 15600),
 ('F9 v1.1', 15600),
 ('F9 v1.1 B1011', 15600),
 ('F9 B5B1054', 15600),
 ('F9 B5B1060.1', 15600),
 ('F9 B5B1062.1', 15600),
 ('F9 FT  B1032.2', 15600),
 ('F9 B5 B1051.2', 15600),
 ('F9 v1.1 B1014', 15600),
 ('F9 B5 B1046.3', 15600),
 ('F9 FT  B1029.2', 15600),
 ('F9 FT B1024', 15600),
 ('F9 B5  B1046.1', 15600),
 ('F9 B4 B1042.1', 15600),
 ('F9 v1.1', 15600),
 ('F9 B4 B1039.1', 15600),
 ('F9 v1.1', 15600),
 ('F9 FT B1021.1', 15600),
 ('F9 B5 B1059.4', 15600),
 ('F9 FT B1023.1', 15600),
 ('F9 B5 B1048.2', 15600),
 ('F9 B5 B1058.4', 15600),
 ('F9 FT B1035.1', 15600),
 ('F9 B4 B1045.2', 15600),
 ('F9 B4  B1039.2', 15600),
 ('F9 B5B1059.1', 15600),
 ('F9 B5B1050', 15600),
 ('F9 B5B1056.1', 15600),
 ('F9 FT B1031.1', 15600),
 ('F9 v1.1 B1012', 15600),
 ('F9 v1.1', 15600),
 ('F9 B5 B1056.2', 15600),
 ('F9 FT B1025.1', 15600),
 ('F9 v1.1 B1010', 15600),
 ('F9 FT  B1035.2', 15600),
 ('F9 FT  B1038.2', 15600),
 ('F9 FT B1019', 15600),
 ('F9 B5 B1059.2', 15600),
 ('F9 v1.1 B1018', 15600),
 ('F9 v1.1 B1015', 15600),
 ('F9 v1.1', 15600),
 ('F9 B5B1063.1', 15600),
 ('F9 v1.0  B0007', 15600),
 ('F9 v1.1 B1013', 15600),
 ('F9 v1.1 B1017', 15600),
 ('F9 v1.0  B0005', 15600),
 ('F9 v1.0  B0006', 15600),
 ('F9 v1.1  B1003', 15600),
 ('F9 FT B1038.1', 15600),
 ('F9 B4 B1045.1', 15600),
 ('F9 v1.0  B0003', 15600),
 ('F9 v1.0  B0004', 15600)]

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [18]:
%%sql
select strftime('%m', date) as "month", landing__outcome, booster_version, launch_site from SPACEXTBL
where date like '%2015%' and landing__outcome='Failure (drone ship)';

 * sqlite:///spacex_df.db
Done.

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [24]:
%%sql
select landing__outcome,count(*) as "success rate" from SPACEXTBL
where (date between '2010-06-04' and '2017-03-20')
group by landing__outcome order by "success rate" desc;

 * sqlite:///spacex_df.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>